<h1>
  About FitClub!
</h1>
<img class="Icon" src= "FitClubIcon.jpg">
<link rel="stylesheet" href="{{css_file}}">
<ul>
<p> We strive to make working out easier for you.</p>
<p> We allow everyone to input their workouts for the day.</p>
<p> Your workouts are saved so you can use them another day.</p>
<p> FitClub helps you track your workout progress.</p>
<hr>

<p>Need an account? <a href="/register">Register</a></p>
<p>Or go <a href="/home">home</a>.</p>
<p><a href="/logout">Logout</a>?</p>
