<h1>
  Log In To Your Account
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img src= "FitClubIcon.jpg">

<a href="/login"><p style="text-align:center">Login</a>
<a href = "/register"><p style="text-align:center"> Register</a>
