<h1>
  Welcome to FitClub!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img src= "http://www.ymcansw.org.au/images/Facilities_Icons/422%20Website%20Icons%20grey-14.png">

<a href="/routine"><p style="text-align:center">Add Routine</a>
<a href = "/aboutMe"><p style="text-align:center"> About Me</a>
