<h1>
  Welcome to FitClub!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img class ="Icon" src= "FitClubIcon.jpg">

<a href="/workout" onclick = "addWorkout()"><p style="text-align:center">Add Routine</a><br>
<a href = "/aboutMe"><p style="text-align:center"> About Me</a>
<a href = "/comments"><p style="text-align:center"> Comment Section</a>
<a href="/logout"><p style="text-align:center">Logout?</a>
