<h1>
  Login To FitClub!
</h1>
{{message}}
<link rel="stylesheet" href="{{css_file}}">
<form method="POST" action = "">
  <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value = "Login" id="loginBtn" onclick = "getUser()">
</form>

<hr>

<p>Need an account? <a href="/register">Register</a></p>
<p>Or go <a href="/">home</a>.</p>
