<h1>
  Registering Your Account
</h1>
{{message}}
<link rel="stylesheet" href="{{css_file}}">


<form id="registerForm"method="POST" action="">
  <label for="username">Username:</label>
		<input name="username" type="text"><br>
    <label for="password">Password:</label>
		 <input name="password" type="password"><br>
		<input type="submit" id="regBtn" value="Register!"><br><br>
</form>
<div class ="newDiv">
  <a href="/login">Back to Login?</a>
</div>
