<h1>
  Add a New Workout!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img src= "FitClubIcon.jpg" >
<ol>
{{#each routines as |routine|}}
  <li> <a href="{{routine.name}}"> {{routine.name}}</a></li>
{{/each}}
</ol>

<form method="POST" action="/addRoutine">
  Add Routine <input type="text" name="name"><br>
  Add workout <input type="text" name="workout">
  <input type="submit" value="Add a Routine">
</form>
