<h1>
  Add Your Routine!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img src= "http://www.ymcansw.org.au/images/Facilities_Icons/422%20Website%20Icons%20grey-14.png">
<ol>
{{#each workouts as |workout|}}
  <a href="{{workout.slug}}"> {{workout.workout}}</a>
{{/each}}
</ol>

<form method="POST" action="/addWorkout">
  Workout <input type="text" name="workout">
  <input type="submit" value="Add a Workout">
  <input type = "hidden" name = "slug" value = "{{workout.slug}}">
</form>
