<h1>
  Add Your Routine!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<img class ="Icon" src= "FitClubIcon.jpg">
<body onload="addWorkout()">
<br>
<table>
	<thead>
		<th>Workout</th>
		<th>Time (minutes)</th>
    <th>Reward?</th>
	</thead>
	<tbody id="workout-list">
	</tbody>
</table>
<br>
  <label for="workout">Workout:</label>
  <input type="text" name="workout" id= "workout">
  <label for="length">Duration:</label>
  <input type="number" name="length" id= "length">
  <br>
  <br>
  <input type="button" onclick = "createNew()" value="Add a Workout" id = "newBtn">
  <p>Go <a href="/home">home</a>?</p>
  <p><a href="/logout">Logout?</a></p>
