body {
    background: green;
}
h1 {
    color: black;
    text-align: center;
}

.Icon {
    display: block;
    margin: auto;
    width: 10%;
}

 table {
	border-collapse: collapse;
	margin: auto;
}

td, th {
	border: 1px solid #555;
	text-align: left;
	padding: 5px;
}

/* color every other row */
tr:nth-child(2n) {
	background-color: #eee;
}

th {
	font-weight:bold;
	background-color: #000;
	color: #fff;
}

form {
    margin-left: 40%;
	margin-right:40%;
	border-radius: 25px;
}
p{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
p1{
	font-weight: bold;
	font-size: 20px;
}
label[for=content]
{
    margin-left:40%;
}
label[for=workout]
{
    margin-left:30%;
}
/*#picture{
  display: inline-block;
}*/
#comntBtn{
  margin-left:45%;
}
#newBtn{
  margin-left:45%;
}
.myDiv {
    font-weight: bold;
	font-size: 20px;
	margin-left: 45%;
}
.newDiv {
    font-weight: bold;
	font-size: 20px;
	margin-left: 45%;
}
.newerDiv {
    font-weight: bold;
	font-size: 20px;
	margin-left: 35%;
}
